/* ##################################################################### */
/* #                            DESKTOP                                # */
/* ##################################################################### */
.content {
	grid-area: box3;
	background-color: white;
	margin-top: 20px;
	width: 85%;
	justify-self: center;
}
.text {
	margin-left: 25%;
}
.content h2 {
	font-size: 35px;
	text-align: center;
	margin-top: 15px;
}
.content h3 {
	/* margin-left: 25%; */
	font-size: 25px;
	text-decoration: underline;
}
.content p {
	text-align: justify;
	margin-left: 10px;
	justify-self: center;
	font-size: 24px;
}
.content a {
	text-decoration: none;
    color: #2074b8;
    font-size: 20px;
    /* font-weight: bold; */
}
.content h4 {
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 20px;
}

/* ##################################################################### */
/* #                              MOBILE                               # */
/* ##################################################################### */
@media only screen and (max-width: 824px) {
	.content {
		grid-area: box3;
		padding: 0px;
		width: 95%;
	}
	.pageTitle {
		font-size: 30px;
	}
	.general {
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas: 
		"left"
		"right";
	}
	.commitees {
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas: 
		"left2"
		"right2";
	}
	.text {
		width: 100%;
		padding: 5px;
	}
	.text h2 {
		font-size: 25px;
	}
	.text h4 {
		font-size: 20px;
	}
	.text h3 {
		font-size: 20px;
	}
	.text p {
		font-size: 20px;
    }
    .text a {
        font-size: 20px;
    }
}
