.content {
	grid-area: box3;
	background-color: white;
	margin-top: 20px;
	width: 85%;
	justify-self: center;
}

@media only screen and (max-width: 824px) {
	.content {
		width: 95%;
		padding: 20px 0;
	}
}