.content {
	grid-area: box3;
	background-color: white;
	margin-top: 20px;
	width: 85%;
	justify-self: center;
}

.content h2 {
	font-size: 35px;
	text-align: center;
	margin-top: 15px;
}
.content h3 {
	margin-left: 25%;
	font-size: 25px;
	text-decoration: underline;
}
.content p {
	text-align: justify;
	margin-left: 25%;
	justify-self: center;
	font-size: 20px;
}

@media only screen and (max-width: 824px) {
	.content {
		width: 95%;
		padding: 0;
	}
	.content h2 {
		font-size: 25px;
		padding: 5px;
	}
	.content h3 {
		margin-left: 5%;
		font-size: 20px;
	}
	.content p {
		margin-left: 5%;
		padding: 5px;
		font-size: 15px;
	}
}