@media only screen and (max-width: 824px) {
	/* ############ code for the title ###############*/
	body {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		grid-template-areas:
		"title"
		"apply_section";
	}
	.title {
		grid-area: title;
		position: relative;
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: auto;
		grid-template-areas: 
		" m-titleLogo "
		" m-titleText ";
	}
	/* .title {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: auto;
		grid-template-areas: 
		" m-titleLogo "
		" m-titleText ";
		grid-area: title;
	} */
	/* .titleLink {
		grid-template-areas:
		"titleLogo titleLogo titleLogo titleLogo titleLogo"
		"titleText titleText titleText titleText titleText";
	} */
	.titleLogo {
		/* grid-area: title; */
		grid-area: m-titleLogo;
		justify-self: center;
		justify-content: center;
	}
	.titleText {
		/* grid-area: title; */
		grid-area: m-titleText;
		margin-top: 90px;
		justify-self: center;
	}
	.titleText h1 {
		font-size: 40px;
	}
	.titleText h4 {
		font-size: 20px;
	}

	.topnav {
		grid-area: topnav;
		display: block;
	}

	.topnav #mobile {
		display: none;
	}

	.topnav #mobile a {
		color: black;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		display: block;
		position: relative;
	}
	  
	  /* Style the hamburger menu */
	.topnav a.icon {
		padding: 14px 16px;
		color: white;
		background: #338dd5;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}

	.menu {
		display: none;
	}

	.topnav #mobile {
		grid-area: topnav;
		background-color: #7fb3dd;
		margin-top: 250px;
		grid-template-rows: 5px;
		grid-template-areas:
		"."
		"sub1"
		"sub2"
		"sub3"
		"sub4"
		"sub5"
		"sub6"
		"sub7"
		".";
	}

	/* .menu {
		grid-area: menu;
		background-color: #7fb3dd;
		margin-top: 250px;
		grid-template-rows: 5px;
		grid-template-areas:
		"."
		"sub1"
		"sub2"
		"sub3"
		"sub4"
		"sub5"
		"sub6"
		"sub7";
	} */

	/* code for the menu */
}