.text {
	margin-left: 20%;
}

.text p {
	text-align: justify;
	margin-left: 10px;
	margin-top: 10px;
	justify-self: center;
	font-size: 22px;
	color: rgb(20, 20, 20);
}

/* .text h1 {

} */

.text h2 {
	font-size: 35px;
	text-align: center;
	margin-top: 15px;
}

.text h3 {
	font-size: 25px;
	text-decoration: underline;
}

.text h4 {
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 20px;
}

.text a {
	text-decoration: none;
    color: #2074b8;
    font-size: 20px;
    /* font-weight: bold; */
}


@media only screen and (max-width: 824px) {

	.text {
		/* padding: 5px; */
		margin-left: 5%;
		margin-right: 5%;
	}
	.text h2 {
		font-size: 25px;
		/* padding: 5px; */
	}
	.text h3 {
		margin-left: 5px;
		font-size: 20px;
	}
	.text h4 {
		font-size: 16px;
	}
	.text p {
		margin-left: 10px;
		/* padding: 5px; */
		font-size: 15px;
	}
	.text a {
		font-size: 16px;
	}

}