/* ##################################################################### */
/* #                            DESKTOP                                # */
/* ##################################################################### */

body {
	display: grid;
	align-items: center;
	/* grid-template-rows: auto; */
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto;
	grid-template-areas:
	"box1"
	"box2"
	"box3"
	"box4"
	"box5";
}

/* ############  Title  ############# */
.title {
	grid-area: box1;
	top: 0px;
	text-align: center;
	width: 100%;
	height: 220px;
	background-color: #ffffff;
}

.titleLink {
	display: grid;
	grid-template-columns: auto auto 10px auto auto;
	grid-template-rows: auto auto;
	grid-template-areas: 
	". titleLogo . titleText ."
	". titleLogo . titleText .";
}

.icon {
	display: none;
}

.title a {
	text-decoration: none;
}

.titleText{
	grid-area: titleText;
	justify-self: start;
	margin-top: 60px;
}
.titleText h1 {
	font-size: 90px;
	color: #0D125C;
	font-family: 'Times New Roman';
}
.titleText h4 {
	font-size: 35px;
	color: #0D125C;
	font-family: 'Times New Roman';
}
/* logo */
.titleLogo {
	margin-top: 25px;
	grid-area: titleLogo;
	justify-self: end;
	width: 200px;
}

.topnav {
	display: none;
}

/* ############## CODE FOR THE MENU ################ */
.menu {
	grid-area: box2;
	list-style-type: none;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	background-color: #7fb3dd;
	display: grid;
	grid-auto-rows: 100px;
	align-items: center;
	grid-template-columns: auto;
	grid-template-areas: 
	". sub1 . sub2 . sub3 . sub4 . sub5 . sub6 . sub7 .";
}
.sub1 {
	grid-area: sub1;
	justify-self: center;
}
.about {
	background-color: #7fb3dd;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.sub1:hover .dropdown-content { display: block; }
.sub1:hover .about {color: #338dd5;}
.sub2 {
	grid-area: sub2;
	justify-self: center;
}
.mio {
	background-color: #7fb3dd;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
}
.sub2:hover .dropdown-content { display: block; }
.sub2:hover .mio {color: #338dd5;}
.sub3 {
	grid-area: sub3;
	justify-self: center;
}
.apply {
	background-color: #7fb3dd;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
}
.sub3:hover .apply {color: #338dd5;}
.sub4 {
	grid-area: sub4;
	justify-self: center;
}
.message {
	background-color: #7fb3dd;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
}
.sub4:hover .message {color: #338dd5;}
.sub5 {
	grid-area: sub5;
	justify-self: center;
}
.guide {
	background-color: #7fb3dd;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
}
.sub5:hover .dropdown-content { display: block; }
.sub5:hover .guide {color: #338dd5;}
.sub6 {
	grid-area: sub6;
	justify-self: center;
}
.contact {
	background-color: #7fb3dd;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
}
.sub6:hover .contact {color: #338dd5;}
.sub7 {
	grid-area: sub7;
	justify-self: center;
}
.news {
	background-color: #7fb3dd;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
}
.sub7:hover .news {color: #338dd5;}

/* #########  APPLY SECTION  ########## */
.apply_section {
	grid-area: box3;
	height: 450px;
	background-image: url("pics/front_page/Europe-flags.jpg");
	background-position: center;
	background-repeat: no-repeat;
	justify-content: center;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	grid-template-areas:
	"."
	"button"
	".";
}
.apply_button_in_section {
	grid-area: button;
	height: fit-content;
	height: -moz-fit-content; /* mozilla */
	width: fit-content;
	width: -moz-fit-content; /* mozilla */
	font-size: 45px;
	padding: 15px 30px;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.788);
	color: black;
	font-family: sans-serif;
	border-radius: 25px;
	display: inline-block;

}
.apply_button_in_section:hover {
	background-color: white;
	font-size: 48px;
	transition: ease;
	transition-duration: 0.2s;
}

/* #############  NEWS SECTION  ############## */
.news-section {
	grid-area: box4;
	margin-top: 40px;
	display: grid;
	width: 1000px;
	justify-self: center;
	grid-template-rows: auto 100px 20px 100px 20px 100px;
	grid-template-areas:
	"news-header"
	"new1"
	"."
	"new2"
	"."
	"new3";
}
/* News text settings */
.news-section h1 {
	grid-area: news-header;
	justify-self: center;
	margin-bottom: 20px;
	color: #0D125C;
	font-size: 30px;
	font-family: sans-serif;
}
.news-section h2 {
	font-size: 30px;
	font-family: sans-serif;
	color: white;
}
.news-section p {
	font-size: 30px;
	font-family: sans-serif;
	color: white;
}
/* Grid look of the latest 3 news */

.news1 {
	grid-area: new1;
	position: center;
	background-color: rgb(29, 134, 175);
	width: 97%;
}

.news1:hover {
	width: 101%;
	transition: ease;
	transition-duration: 0.2s;
}

.news2 {
	grid-area: new2;
	background-color: rgb(29, 134, 175);
	width: 97%;
}

.news2:hover {
	width: 101%;
	transition: ease;
	transition-duration: 0.2s;
}

.news3 {
	grid-area: new3;
	background-color: rgb(29, 134, 175);
	width: 97%;
}

.news3:hover {
	width: 101%;
	transition: ease;
	transition-duration: 0.2s;
}

/* ##########  FOOTER  ######### */
.footer {
	grid-area: box5;
	margin-top: 20px;
	background-color: black;
	height: 200px;
}

/* ##################################################################### */
/* #                              MOBILE                               # */
/* ##################################################################### */
@media only screen and (max-width: 824px) {
	/* ############ code for the title ###############*/

	/* body {
		display: grid;
		align-items: center;
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-template-areas:
		"box1"
		"topnav"
		"apply_section"
		"news-section"
		"footer";
	} */
/* #########  TITLE MOBILE  ######## */
	.title {
		/* grid-area: title; */
		height: 140px;
		position: relative;
	}
	.titleLogo {
		margin-top: 40px;
		margin-left: 5px;
		width: 90px;
		justify-self: end;
	}
	.titleText {
		margin-top: 60px;
		margin-right: 5px;
		justify-self: start1;
	}
	.titleText h1 {
		font-size: 30px;
	}
	.titleText h4 {
		font-size: 14px;
	}
/* #########  TOPNAV MOBILE  ######## */
	.topnav {
		display: block;
	}
	.topnav #mobile {
		display: none;
	}
	.topnav #mobile a {
		color: black;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		display: block;
		/* position: relative; */
	}
	/* Style the hamburger menu */
	.icon {
		padding: 14px 16px;
		color: white;
		background: #338dd5;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}
	.menu {
		display: none;
	}
	.topnav {
		justify-content: left;
	}
	.topnav #mobile {
		grid-area: box2;
		position: relative;
		background-color: #7fb3dd;
		justify-content: center;
		grid-template-rows: 5px;
		grid-template-columns: 300px;
		grid-template-areas:
		"."
		"sub1"
		"sub2"
		"sub3"
		"sub4"
		"sub5"
		"sub6"
		"sub7"
		".";
	}
	#mobile {
		justify-items: left;
	}
	.sub1, .sub2, .sub3, .sub4, .sub5, .sub6, .sub7 {
		justify-self: left;
		justify-content: start;
	}
	

/* #########  APPLY SECTION MOBILE  ######## */
	.apply_section {
		height: 400px;
	}

/* ############  NEWS MOBILE  ########## */
	.news-section {
		/* grid-area: box4; */
		width: 95%;
	}
}